<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("partials/nav") %>
    <div class="container">
        <div class="box">
            <h1>Login User</h1>
            <div class="bag">
                <div class="pocket2">
                    <form action="/login" method="post">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                        
                        <% if(msg && msg.length > 0){
                            msg.forEach((error)=>{ %>
                                <p class="error"><%= error  %></p>
                           <% })
                       } %>

                        <div class="btn">
                            <input type="submit" value="Register" name="Register">
                        </div>
                        <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
                    </form>
                </div>
                <div class="pocket1">
                    <img src="/assets/Sign up-bro.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer") %>
</body>
</html>